/* Main Styles*/

/* Project colors {
   color: #072AC8;
   color: #43D2FF;
   color: #A2D6F9;
   color: #D1EDFF;
   color: #292E47;
   color: #6B708D;
   color: #F2F4FC;
   color: #ECF7FF;
   color: #FFC600;
} */

@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap")all;

* {
    font-family: 'Roboto';
}

body {
    background-color: #f2f4fc;
    font-size:16px;
}

/* Nav Bar */

.nav-bar {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
    margin-right: auto;
    margin-left: auto;
    padding: 3em 2em 1em 2em;
    max-width: 1160px;
}

.nav-bar-menu {
	display: flex;
    gap: 7rem;
}

.nav-bar a {
   text-decoration: none;
}

.nav-bar a:hover {
    color:  blue;
}

.frame-contact {
    display: flex;
    justify-content: center;
    position: right;
    width: 150px;
    height: 52px;
    border-radius: 0.2rem;
    background: #072AC8;
}

.btn-contact {
    background: #072AC8;
    text-decoration: none;
    color: #ffffff;
    border: #072AC8;
    transition: .5s ease-in-out 0s;
}

/* Rest */