/* {
   color: #072AC8;
   color: #43D2FF;
   color: #A2D6F9;
   color: #D1EDFF;
   color: #292E47;
   color: #6B708D;
   color: #F2F4FC;
   color: #ECF7FF;
   color: #FFC600;
} */

* {
    font-family: 'Times New Roman', Times, serif;
}


.nav-bar {
    display: flex;
	padding-top: 70px;
	flex-direction: row;
    gap: 20rem;
    margin-left: 5rem;
}

.nav-bar-container {
    display: flex;
}

.nav-bar-menu {
	display: flex;
    gap: 5rem;
}

.frame-contact {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    width: 150px;
    height: 52px;
    left: 1120px;
    top: 70px;
    background-color: #072ACB;
}

.btn-contact {
    background-color: #072ACB;
    text-decoration: none;
    color: #ffffff;
}